::ng-deep .white-color {
  fill:#ffffff;
}
::ng-deep .white-contrast {
  fill:#000000;
}
::ng-deep .black-color {
  fill:#000000;
}
::ng-deep .black-contrast {
  fill:#ffffff;
}

::ng-deep .border {
  fill:rgb(0,0,0);
}
::ng-deep .white {
  fill:rgb(255,255,255);
}
::ng-deep .black {
  fill:rgb(128,128,128);
}
::ng-deep .highlight {
  fill:none;
  stroke:rgb(0,0,255);
  stroke-width:2;
}

::ng-deep .piece {
  pointer-events: none;
}
::ng-deep .movable {
  cursor:pointer;
}